<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/header :: common-header"></th:block>
</head>

<body>
<th:block th:include="common/header :: navbar"></th:block>

<div class="container">
    <div class="row" style="margin-bottom: -100px">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Books'"></span>
                </h2>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="/img/logo.png" class="img-responsive"/>
        </div>
    </div>
    <hr style="position:absolute; width:100%; height:6px; background-color: #333; z-index:-1; margin-top:-80px;"/>
    <img class="img-responsive" src="/img/wood.png" style="margin-top: -75px;"/>

    <div class="row" style="margin-top: 60px">
        <div class="col-xs-9 col-xs-offset-3">
            <div th:if="${emptyList}">
                <h5 style="font-style: italic">Oops, no result is found. Try something else or try again later.</h5>
            </div>

            <table border="0" id="bookList">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="book-item" data-th-each="book : ${books}">
                        <td>
                            <div th:if="${book != null}">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <a th:href="@{/bookDetail?id=}+${book.id}">
                                            <img class="img-responsive shelf-book" th:src="${book.hasImage}
                                         ? ${linkBookSource}+${book.id}+'.png' : @{/img/no_image.png}"/>
                                        </a>
                                    </div>
                                    <div class="col-xs-9">
                                        <a th:href="@{/bookDetail?id=}+${book.id}"><h4 th:text="${book.title}"></h4></a>
                                        <span th:text="${book.publicationDate}"></span>
                                        <p th:text="${book.author}"></p>
                                        <span th:text="${#strings.capitalize(book.format)}"></span>
                                        <span th:text="${book.numberOfPages}"><span> pages</span></span><br/>
                                        <span style="font-size:x-large;color:#db3208;">$<span
                                                th:text="${#numbers.formatDecimal(book.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>
                                        <span style="text-decoration: line-through;">$<span
                                                th:text="${#numbers.formatDecimal(book.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>
                                        <p th:utext="${#strings.abbreviate(book.description, 1000)}"></p>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<th:block th:include="common/header :: body-bottom-scripts"></th:block>
</body>
</html>